* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root Colors */
:root{
    --background-color: #274848;

}


/* Navigation */
.navbar-nav .nav-link {
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 10px;
    color: black !important;
}

.nav-link:hover {
    /* text-decoration: underline; */
    border-bottom: 2px solid var(--background-color);

}

.btn {
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 90px;
    height: 40px;
    background-color: var(--background-color);
    color: white;
    margin-right: 30px;
    border-radius: 6px;
}

/* .btn3 {
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 90px;
    height: 40px;
    color: black;
    margin-right: 30px;
    font-size: x-large;
    text-decoration: none;
} */


.btn:hover{
    color: white;
    background-color: #498787;
}